<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
	<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="$!{article.metaKeywords},$!{config_meta_keywords}" name="keywords" />
    <meta content="$!{article.metaDescription},$!{config_meta_description}" name="description" />
    <title>$!{article.title}_$!{config_name}</title>
    <link href="favicon.ico" rel="SHORTCUT ICON">
	<link rel="stylesheet" type="text/css" href="$!{contextPath}/css/common.css" />
    <link type="text/css" rel="stylesheet" media="screen,projection" href="$!{contextPath}/css/css3buttons.css">
    <link type="text/css" title="www" rel="stylesheet" media="screen,projection" href="$!{contextPath}/css/${skin}/style.css">
    <link type="text/css" title="www" rel="stylesheet" media="screen,projection" href="$!{contextPath}/css/${skin}/nav.css">
    <link type="text/css" title="www" rel="stylesheet" media="screen,projection" href="$!{contextPath}/css/${skin}/menu.css">
    <link type="text/css" title="www" rel="stylesheet" media="screen,projection" href="$!{contextPath}/css/${skin}/footer.css">
    <!--<link type="text/css" rel="stylesheet" href="$!{contextPath}/css/syntaxhighlighter/shCoreDefault.css"/>-->
    <style type="text/css">div.to-bgstyle, div.to-dk-bgstyle{ cursor:pointer; }</style>
	<script type="text/javascript" src="$!{contextPath}/js/jquery-1.8.3.js" ></script>
	<script type="text/javascript" src="$!{contextPath}/js/jquery-ui.js" ></script>
	<script type="text/javascript" src="$!{contextPath}/js/jquery.md5.js" ></script>
	<script type="text/javascript" src="$!{contextPath}/js/jquery.metadata.js" ></script>
	<script type="text/javascript" src="$!{contextPath}/js/jquery.validate.min.js" ></script>
	<script type="text/javascript" src="$!{contextPath}/js/jquery.tools.min.js"></script>
    <!--
    <script type="text/javascript" src="$!{contextPath}/js/syntaxhighlighter/shCore.js"></script>
    <script type="text/javascript" src="$!{contextPath}/js/syntaxhighlighter/shBrushJava.js"></script>
    <script type="text/javascript">SyntaxHighlighter.all();</script>
    -->
</head>
<body style="align:center;">
<!--HEADER START-->
<div id="headerCompontentList">
    <div class="logoComponent">
        <div>
        <a id="bannerLeft" href="/">
            <img alt="" src="$!{config_logo}" height="70px" style="padding-top: 12px;" />
        </a>
        </div>
        <div style="width: 728; height: 90px; float: right;">
        </div>
        <div class="clear">
        </div>
    </div>
#set($width="960px")
#parse("modules/${skin}/NavComponent.vm")
</div>
<!--HEADER END-->
<div id="bodyCompontentList">
<table>
<tr>
<td valign="top">
<div id="bodyColumn" style="margin-left:2px;float:left">
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<div class="idea">
<img src="/i/site_photoref.jpg" alt="完整的网站技术参考手册">
<h3>完整的网站技术参考手册</h3>
<p>我们的参考手册涵盖了网站技术的方方面面。</p>
<p>其中包括W3C的标准技术：HTML、XHTML、CSS、XML 。以及其他的技术，诸如JavaScript、PHP、ASP、SQL等等。</p>
</div>

<div class="idea">
<img src="/i/site_photoexa.jpg" alt="在线实例测试工具">
<h3>在线实例测试工具</h3>
<p>在w3school，我们提供上千个实例。</p> 
<p>通过使用我们的在线编辑器，你可以编辑这些例子，并对代码进行实验。</p>
</div>

<div class="idea">
<img src="i/site_photoqe.jpg" alt="快捷易懂的学习方式">
<h3>快捷易懂的学习方式</h3>
<p>一寸光阴一寸金，因此，我们为您提供快捷易懂的学习内容。</p>
<p>在这里，您可以通过一种易懂的便利的模式获得您需要的任何知识。</p>
</div>
</div>
</div>
#parse("modules/uyan.vm")
</td>
<td valign="top">
<div id="rightColumn" style="margin-right:2px;">
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<h2>热点链接</h2>
<a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/puresystems/">IBM PureSystems 专题</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/data/cognos/">“体验魅力 IBM Cognos BI 10 系列”讲座</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/rational/agile/">敏捷转型最佳实践专题</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/web/lp/html5/">HTML5 专题</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/downloads/?S_TACT=105AGX52&amp;S_CMP=dcntop">IBM 软件下载中心</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/certify/">认证考试资源中心</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/rss/">订阅更多 dW RSS</a>
</div>
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<h2>技术交流社区</h2>
<img width="168" height="64" alt="立即加入 developerWorks 中文社区！" src="//www.ibm.com/developerworks/cn/i/hivis_visitnow-dwcommunity-cn.jpg">
</div>
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<h2>文章搜索</h2>
<input type="text" name="keyword" />
</div>
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<h2>点击排行榜</h2>
<a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/puresystems/">IBM PureSystems 专题</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/data/cognos/">“体验魅力 IBM Cognos BI 10 系列”讲座</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/rational/agile/">敏捷转型最佳实践专题</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/web/lp/html5/">HTML5 专题</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/downloads/?S_TACT=105AGX52&amp;S_CMP=dcntop">IBM 软件下载中心</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/certify/">认证考试资源中心</a></li><li><a class="ibm-feature-link" href="http://www.ibm.com/developerworks/cn/rss/">订阅更多 dW RSS</a>
</div>
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<h2>软件下载</h2>
提取EGLAPI地址的方法是首先通过dlsym函数获得一个获取函数地址的函数eglGetProcAddress的地址，然后遍历EGL的API所在文件frameworks/base/opengl/libs/EGL/egl_entries.in。先通过dlsym获取各个API地址，如果返回NULL再利用eglGetProcAddress去获得，如果依旧为空就把函数地址赋值为0；提取GLESv1_CM和GLESv1_CM库中函数地址方法和提取EGL差不多，只是他们的函数文件保存在frameworks/base/opengl/libs/entries.in中。还有它们把函数地址复制给了cnx->hooks[GLESv1_INDEX]->gl和cnx->hooks[GLESv2_INDEX]->gl。
</div>
<div style="margin: 2px;background: none repeat scroll 0 0 white;color:black;border:solid 1px;">
<h2>软件下载</h2>
ssssssssssssssssssssssss
</div>
</div>
<div style="height:100%">
</div>
</td>
</tr>
</table>
</div>

<!-- FOOTER_BEGIN -->
<div id="footerCompontentList">
#parse("modules/${skin}/CopyRightComponent.vm")
</div>
<!-- FOOTER_END -->
        <div style="display:none;" class="back-to" id="toolBackTop">
            <a title="返回顶部" onclick="window.scrollTo(0,0);return false;" href="#top" class="back-top">返回顶部</a>
        </div>
        <script type="text/javascript">
        $(document).ready(function () {
                var bt = $('#toolBackTop');
                var sw = $(document.body)[0].clientWidth;
        
                var limitsw = (sw - 1000) / 2 - 80;
                if (limitsw > 0){
                        limitsw = parseInt(limitsw);
                        bt.css("right",limitsw);
                }
        
                $(window).scroll(function() {
                        var st = $(window).scrollTop();
                        if(st > 30){
                                bt.show();
                        }else{
                                bt.hide();
                        }
                });
        })
        </script>
#parse("modules/JiaThisComponent.vm")
	</body>
</html>