<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="$!{contextPath}/admin/css/common.css" />
    <script language="javascript" type="text/javascript" src="/js/sorttable.js"></script>
    <script type="text/javascript" src="$!{contextPath}/js/jquery-1.4.2.min.js" ></script>
    <script type="text/javascript" src="$!{contextPath}/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="$!{contextPath}/js/jquery-ui-1.8.5.custom.min.js"></script>
<style>
.btn,.btn:hover{ text-decoration:none;cursor:pointer;}
#warnning{color:#C00;display:none;}
</style>
<script type="text/javascript" src="/admin/js/common.js" ></script>
</head>
<body>
<span class="blank"></span>
<div class="crumbBar fS14">
     <b><span>微博后台系统</span> &gt; <span>系统设置</span></b>
</div>
<span class="blank"></span>
   <form id="configForm" name="adminUserForm" action="/admin/setting/configAdmin.do" method="post" >
   <input type="hidden" class="inputTag" id="action" name="action" value="update" />
   <table class="sortable" cellspacing="0" cellpadding="0" width="100%">
       <tbody>
            <tr>
               <th width="120px">名称</th>
               <th>值</th>
            </tr>
            <tr>
                <td align="right">网站首页文章ID:</td>
                <td><input type="text" class="inputTag" name="config_index" value="$!configMap.get("config_index")" style="width:98%" /></td>                
            </tr>
            <tr>
                <td align="right">网站名称:</td>
                <td><input type="text" class="inputTag" name="config_name" value="$!configMap.get("config_name")" style="width:98%" /></td>                
            </tr>
            <tr>
                <td align="right">META关键字:</td>
                <td><input type="text" class="inputTag" name="config_meta_keywords" value="$!configMap.get("config_meta_keywords")" style="width:98%" /></td>                
            </tr>
            <tr>
                <td align="right">META描述:</td>
                <td><input type="text" class="inputTag" name="config_meta_description" value="$!configMap.get("config_meta_description")" style="width:98%" /></td>                
            </tr>
            <tr>
                <td align="right">网站LOGO:</td>
                <td><input type="text" class="inputTag" name="config_logo" value="$!configMap.get("config_logo")" style="width:98%" /></td>                
            </tr>
            <tr>
                <td align="right">启用友言:</td>
                <td>
                    <select name="config_uyan" style="width:200px;">
                        <option value="true" #if($!configMap.get("config_uyan")=="true")selected#end>开启</option>
                        <option value="false" #if($!configMap.get("config_uyan")=="false")selected#end>关闭</option>
                    </select>
            </tr>
            <tr>
                <td align="right">网站版权:</td>
                <td><input type="text" class="inputTag" name="config_copyright" value="$!configMap.get("config_copyright")" style="width:98%" /></td>                
            </tr>
            <tr>
                <td align="right"></td>
                <td><input type="submit" value="保存" /></td>                
            </tr>
       </tbody>
   </table>
   </form>
</body>
</html>