body{text-align:left;background:#fff;font-size:14px;color:#2b2b2b;font-family:Verdana,Arial,Helvetica,sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{margin:0;padding:0}
table,td,tr,th{font-size:14px}
li{list-style-type:none}
table {
    border-collapse: collapse;
    color: #131313;
    width: 100%;
}
table th {
    background: none repeat scroll 0 0 #D7D7D7;
    color: Black;
    font-weight: bold;
    line-height: 18px;
}
th, td {
    border: 1px solid #999999;
    line-height: 16px;
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
}
img{vertical-align:top;border:0}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:14px;font-weight:400}
q:before,q:after{content:''}
abbr,acronym{border:0}
address,caption,cite,code,dfn,em,th,var{font-weight:400;font-style:normal}
input,textarea,select,option{font-family:Arial,sans-serif,\5b8b\4f53;font-size:14px;}
.margin_right{margin-right: 10px;}
a{text-decoration:none}
a:visited{text-decoration:none}
.cGray,.cGray:visited,.cGray a,.cGray a:visited{color:#585858}
.cDGray,.cDGray:visited,.cDGray a,.cDGray a:visited{color:#999}
.cBlue,.cBlue:visited,.cBlue a,.cBlue a:visited{color:#1E50A2}
.cDBlue,.cDBlue:visited,.cDBlue a,.cDBlue a:visited{color:#8BA4CD}
.cDRed,.cDRed:visited,.cDRed a,.cDRed a:visited{color:#ba2636}
.cGreen,.cGreen:visited,.cGreen a,.cGreen a:visited{color:#467902}
.fB{font-weight:700}
.fI{font-style:italic}
.fl{float:left}
.fr{float:right}
.fS12{font-size:14px !important;}
.fS14{font-size:14px !important;}
.tAr{text-align:right}
.hidden{display:none !important;}
.clear{clear:both;height:0;overflow:hidden;display:block}
.clearfix{*zoom:1}
.clearfix:after{clear:both;height:0;overflow:hidden;display:block;visibility:hidden;content:"."}
caption,th,.tAl{text-align:left}
a:hover,.underline, .underline:visited, .underline a, .underline a:visited {text-decoration:underline}
.ununderline, .ununderline:visited, .ununderline a, .ununderline a:visited {text-decoration:none}

a {
	text-decoration: underline;
}

a:hover {
	color: #BA2636;
}

.crumbBar {
	margin-bottom: 10px;
}

.authorityBar {

}

.inputTag {
	border: 1px solid #999;
	font-family: Verdana;
	padding: 2px 0 1px 4px;
	width: 100%;
}

.btn {
	border: 0px;
	display: inline-block;
	cursor: pointer;
	margin: 10px 5px 0 5px;
	padding: 0 0 0 10px;
	line-height: 20px;
	height: 20px;
	text-align: center;
}

.btn em {
	display: inline-block;
	line-height: 20px;
	height: 20px;
	padding-right: 17px;
	padding-left:8px;
}

.listTitle {
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.tblbox {
	padding: 0 10px 0 0px;
}

.tbl {
	width: 100%;
	background-color:#cccccc;
	text-align: left;
}
.tbl tr:hover{
	background-color:#cfe9f7;
}

.tbl td {
	padding-left: 5px;
	background-color:#FFFFFF;
}

.tbl thead td {
	font-weight: bold;
	font-size: 12px;
	background: #D7D7D7;
	cursor: pointer;
	height: 24px;
}

.tbl tbody {

}

.tbl tbody tr {

}

.tbl tbody td {
	padding-left: 5px;
	height: 24px;
}

.tbl tbody td a img {
	padding-top: 4px;
	padding-left: 4px;
}

.tbl tbody tr.even {
	background: #F2F2F2;
}

.tbl tr:hover{
	background-color:#cfe9f7;
}
.page {
	padding: 5px 10px 5px 0;
	margin-top: 15px;
	text-align: right;
}

.page span,.page a {
	background: #FFF;
	padding: 2px 5px;
	border: 1px solid #CCC;
}

.page span {
	background: #F1F1F1;
	color: #999;
}

.page a:hover {
	background: #1E50A2;
	color: #F1F1F1;
}

.right {
	float: right;
	padding-right: 8px;
	padding-top: 10px;
}

.addBtn {
	width: 100px;
	height: 28px;
	text-align: center;
}
#centerDiv{

}
#pop {
	width: 530px;
	position: absolute;
	background: #FFF;
	top: 50px;
	left: 190px;
	border: #CCC solid 1px;
	display: none;
	-moz-box-shadow: 1px 1px 5px #333;
	-webkit-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;
}
#popClass {
	width: 530px;
	height: 310px;
	position: absolute;
	background: #FFF;
	top: 50px;
	left: 190px;
	border: #CCC solid 1px;
	display: none;
	-moz-box-shadow: 1px 1px 5px #333;
	-webkit-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;
}
#popSubClass {
	width: 530px;
	height: 310px;
	position: absolute;
	background: #FFF;
	top: 50px;
	left: 190px;
	border: #CCC solid 1px;
	display: none;
	-moz-box-shadow: 1px 1px 5px #333;
	-webkit-box-shadow: 1px 1px 5px #333;
	box-shadow: 1px 1px 5px #333;
}

/*后来加的*/
.blank {
	clear: both;
	height: 8px;
	display: block;
	overflow: hidden;
}

.textarea {
	height: 60px;
	width: 80%;
	border: 1px solid #999;
	overflow-y: scroll;
	padding: 3px 0 0 3px;
}

.tip {
	color: #999;
	margin-left: 10px;
	float: left;
}

.listTitle {
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
}

.crumbBar {
	margin-bottom: 10px;
}

.popContent label {
	float: left;
	padding-right: 10px;
}

.inputBox {
	border: 1px solid #999;
	font-family: Verdana;
	font-size: 12px;
	padding: 2px 0 1px 4px;
	height: 16px;
	float: left;
	width:90%;
}

.inputTextArea {
    border: 1px solid #999;
    font-family: Verdana;
    font-size: 12px;
    padding: 2px 0 1px 4px;
    height: 100px;
    float: left;
    width:320px;
}

.inputBoxShort {
    border: 1px solid #999;
    font-family: Verdana;
    font-size: 12px;
    padding: 2px 0 1px 4px;
    height: 16px;
    float: left;
    width:50px;
}

.left {
	float: left;
	font-weight: bold;
}

.popTitle {
	width: 520px;
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
	background: #F2F2F2;
	border-bottom: #CCC solid 1px;
	cursor:pointer;
	margin-bottom:8px;
}

.popForm {
	padding-left: 10px;
}

.close {
	float: right;
	padding-right: 10px;
}

.btn,.btn:hover {
	text-decoration: none;
	cursor: pointer;
}

#warnning {
	color: #C00;
	display: none;
}
label.error {
    background: url("../images/unchecked.gif") no-repeat scroll 0 0 transparent;
    color: #EA5200;
    float: none;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 16px;
    font-size: 12px;
}
#ui-datepicker-div{ font-size: 80%; }
/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }