## -----------------------------------------------------
## 页脚跳转调用函数
## -----------------------------------------------------
#macro(header, $menu, $title, $ad)
#end

#macro(pagination,$contextPath,$pageInfo)
#if($pageInfo)
<div class="pageInfo">
<div style="float:left;">共<b>$!{pageInfo.total}</b>条记录</div>
    <a href="$contextPath/$!{pageInfo.url}">第一页</a>
#if($pageInfo.previous>0)
    <a href="$contextPath/$!{pageInfo.url}?p=$!{pageInfo.previous}"><上一页</a>
#else
    <span><上一页</span>
#end
#if($pageInfo.next>0)
    <a href="$contextPath/$!{pageInfo.url}?p=$!{pageInfo.next}">下一页></a>
#else
    <span>下一页></span>
#end
#if($pageInfo.last>0)
    <a href="$contextPath/$!{pageInfo.url}?p=$!{pageInfo.last}">末一页</a>
#else
    <span>末一页</span>
#end
</div>
#end
#end