<div class="header">
    <h1 class="logo"><a href="$!{contextPath}/admin/index.html" title="点击返回频道入口">$!{systemName}V$!{systemVersion}</a></h1>
    <div class="operateBar clearfix">
        <div class="fl">
            <ul class="navi-list">
                <!--
				<li #if($tabIndex==0)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=0">常规管理</a></li>
                <li #if($tabIndex==1)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=1">用户管理</a></li>
				-->
                <li #if($tabIndex==0)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=0">文章管理</a></li>
                <li #if($tabIndex==1)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=1">资源管理</a></li>
                <li #if($tabIndex==2)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=2">用户管理</a></li>
                <li #if($tabIndex==3)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=3">系统设置</a></li>
                <!--
				<li #if($tabIndex==4)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=4">产品管理</a></li>
                <li #if($tabIndex==5)class="on"#end><a href="$!{contextPath}/admin/index.html?tabIndex=5">系统设置</a></li>
				-->
            </ul>
        </div>
        <div class="fr" style="margin:6px;">
            欢迎你<em>$!{loginUser.userName}</em>， <a href="$!{contextPath}/admin/logout.html" style="color:blue;">退出</a>
        </div>
    </div>
 </div>