#if($tabIndex==0)
    <iframe id="main" name="main" src="$!{contextPath}/admin/article/articleList.do" frameborder="no" scrolling="auto" style="border:0px; width:100%; height:100%;"></iframe>
#elseif($tabIndex==1)
    <iframe id="main" name="main" src="$!{contextPath}/admin/resource/resource.html" frameborder="no" scrolling="auto" style="border:0px; width:100%; height:100%;"></iframe>
#elseif($tabIndex==2)
    <iframe id="main" name="main" src="$!{contextPath}/admin/user/user.html" frameborder="no" scrolling="auto" style="border:0px; width:100%; height:100%;"></iframe>
#elseif($tabIndex==3)
    <iframe id="main" name="main" src="$!{contextPath}/admin/setting/nav.html" frameborder="no" scrolling="auto" style="border:0px; width:100%; height:100%;"></iframe>
#end
