label.error {
    color: #EA5200;
    float: none;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 16px;
}
.back-to {
    bottom: 35px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    width: 110px;
    z-index: 999;
}
.back-to .back-top {
    background: url("/images/back-top.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 50px;
    margin-left: 10px;
    outline: 0 none;
    text-indent: -9999em;
    width: 50px;
}
.back-to .back-top:hover {
    background-position: -50px 0;
}