<br style="line-height:5px;"/>
<h1 class="contentTitle">山西:人代会期间任何人不得向人大代表告状</h1>
<div class="left">
    2013-01-19 15:28:34&#12288;
    来源: <a rel="nofollow" target="_blank" href="http://www.sx.xinhuanet.com/newscenter/2013-01/19/c_114425284.htm">新华网</a>(广州)&#12288;<a title="点击查看跟贴" href="http://comment.news.163.com/news_guonei8_bbs/8LJFNC700001124J.html" class="cDRed js-tielink">有<span class="js-tiecount">65108</span>人参与</a></div>
<br style="line-height:5px;"/>
${component.content}