<div class="imageComponent" style="align:center;">
    <table border="0px">
        <tr>
            <td align="center">
                <img alt="" src="${component.image}" style="padding-top: 12px;">
            </td>
        </tr>
    </table>
</div>