<div class="navComponent">
    <div class="xleft">
        <a href="/">首页</a>
#if($config_index==${article.id})
#else
        &gt;<a href="">$!{article.catalog}</a>
#end
    </div>
    <div class="xright">
        <div class="menu-container">
            <div class="menuNavi">
                <div class="menu-container">
                    <ul class="menuBar">
#foreach($catalog in $catalogList)
                        <li class="menuItem">
                            <a href="${catalog.link}">$catalog.name</a>
#if($catalog.subCatalog>0)
                            <ul>
#foreach($subCatalog in $catalog.subCatalogList)
                                <li class="menuItem"><a href="$subCatalog.link">$subCatalog.name</a></li>
#end
                            </ul>
#end
                        </li>
#end
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
        <hr>
        </div>
    </div>