.nav{
	font-family: "宋体",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#FFFFFF;
    width:960px;
    margin:0 auto;'
}
.nav a {
	font-family: "宋体",Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#FFFFFF;
}