<textarea id="templateDefaultHtmlComponent" rows="0" cols="0" style="display:none">
<!--
    <div class="component" style="width:100%;margin:2px auto;" id="compItem_0_8_3">
        <div class="componentTitle">
            <span class="left">HTML区域</span>
        </div>
        <div class="comItemContent">
            <table name="fieldsTable" width="100%" border="0">
                <tbody>         
                    <tr>
                        <td colspan="4" width="100%">
							<label><b>HTML内容:</b></label><br/>
                            <input type="hidden" id="componentType" name="componentType" class="inputTag" value="HtmlComponent" />
                            <input type="hidden" id="sequence" name="sequence" class="inputTag" value="0" />
                            <input type="hidden" id="position" name="position" class="inputTag" value="{$T.position}" />
                            <textarea id="content{$T.totalCount}" style="width:100%;" rows="20" onblur='onTextareaBlur(this);' onfocus='onTextareafocus(this);' name="content">{$T.content}</textarea>
                        </td>
                    </tr>           
                </tbody>
            </table>
        </div>
    </div>
-->
</textarea>